html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

.adsk-viewing-viewer #toolbar-modelStructureTool{display:none!important}
.adsk-viewing-viewer #toolbar-explodeTool{display:none!important}
.adsk-viewing-viewer #toolbar-measurementSubmenuTool{display:none!important}

.panel-heading{
  /*visibility: hidden;*/
}

.panel{
  /*visibility: hidden;*/
}

#appBuckets {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 150px);
  /*visibility: hidden;*/
}

#forgeViewer {
  width: 100%;
}
